.DS_Store

/dep/jpeg-8c/*.o
/dep/jpeg-8c/*.lo
/dep/jpeg-8c/*.la
/dep/jpeg-8c/libjpeg.a
/dep/jpeg-8c/.deps/
/dep/jpeg-8c/.libs/
/dep/jpeg-8c/Makefile
/dep/jpeg-8c/cjpeg
/dep/jpeg-8c/djpeg
/dep/jpeg-8c/config.log
/dep/jpeg-8c/config.status
/dep/jpeg-8c/jconfig.h
/dep/jpeg-8c/jpegtran
/dep/jpeg-8c/libtool
/dep/jpeg-8c/rdjpgcom
/dep/jpeg-8c/stamp-h1
/dep/jpeg-8c/wrjpgcom

/dep/giflib-4.1.6/Makefile
/dep/giflib-4.1.6/lib/*.o
/dep/giflib-4.1.6/lib/*.lo
/dep/giflib-4.1.6/util/*.o
/dep/giflib-4.1.6/util/Makefile
/dep/giflib-4.1.6/util/gif2epsn
/dep/giflib-4.1.6/util/gif2ps
/dep/giflib-4.1.6/util/gif2rgb
/dep/giflib-4.1.6/util/gif2x11
/dep/giflib-4.1.6/util/gifasm
/dep/giflib-4.1.6/util/gifbg
/dep/giflib-4.1.6/util/gifclip
/dep/giflib-4.1.6/util/gifclrmp
/dep/giflib-4.1.6/util/gifcolor
/dep/giflib-4.1.6/util/gifcomb
/dep/giflib-4.1.6/util/giffiltr
/dep/giflib-4.1.6/util/giffix
/dep/giflib-4.1.6/util/gifflip
/dep/giflib-4.1.6/util/gifhisto
/dep/giflib-4.1.6/util/gifinfo
/dep/giflib-4.1.6/util/gifinter
/dep/giflib-4.1.6/util/gifinto
/dep/giflib-4.1.6/util/gifovly
/dep/giflib-4.1.6/util/gifpos
/dep/giflib-4.1.6/util/gifrotat
/dep/giflib-4.1.6/util/gifrsize
/dep/giflib-4.1.6/util/gifspnge
/dep/giflib-4.1.6/util/giftext
/dep/giflib-4.1.6/util/gifwedge
/dep/giflib-4.1.6/util/icon2gif
/dep/giflib-4.1.6/util/raw2gif
/dep/giflib-4.1.6/util/rgb2gif
/dep/giflib-4.1.6/util/text2gif
/dep/giflib-4.1.6/autom4te.cache/
/dep/giflib-4.1.6/config.h
/dep/giflib-4.1.6/config.log
/dep/giflib-4.1.6/config.status
/dep/giflib-4.1.6/doc/Makefile
/dep/giflib-4.1.6/lib/.deps/
/dep/giflib-4.1.6/lib/.libs/
/dep/giflib-4.1.6/lib/Makefile
/dep/giflib-4.1.6/lib/libgetarg.a
/dep/giflib-4.1.6/lib/libgif.la
/dep/giflib-4.1.6/libtool
/dep/giflib-4.1.6/pic/Makefile
/dep/giflib-4.1.6/stamp-h1
/dep/giflib-4.1.6/util/.deps/
/dep/giflib-4.1.6/util/.libs/

/dep/build
/view.dSYM
/bin
/obj
/test
